<div class="form-title">
  <h1>Your Shoosey® Order</h1>
</div>

<form action="/shoos" method="post">
  <div class="form">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" class="go-right">
  </div>
  <div class="form">
    <label for="address">Address:</label>
    <textarea name="address" id="address" class="go-right"></textarea>
  </div>
  <div class="form">
    <label for="quantity">Quantity:</label>
    <input type="text" name="quantity" id="quantity" class="go-right">
  </div>
  <div class="form form-box">
    <label for="size">Size:</label>
    <select name="size" id="size" class="go-right">
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
  </div>
  <div class="form">
    <input type="submit" value="Confirm">
  </div>

</form>

