<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shoosey®</title>
  <link rel="stylesheet" href="/style.css">
  <link href='https://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>
</head>

<body> 

  <header>
    <nav>

      <div class="go-left">
        <div class="logo">Shoosey® Your Feet Best Friend</div>
      </div>

      <div class="go-right">
        <ul>
          <li><a href="/shoos">ORDERS</a></li>
          <li><a href="/shoos/new">BUY</a></li>
        </ul>
      </div>

    </nav>  
  </header>

  <main>
  
    <%= yield %>
    
  </main>

  <footer>
    <p>2016 - © All Rights Reserved - Shoosey, Ltd. - WestTollCross, 22, Edinburgh, UK - Designed & Developed by <a href="http://intermundi.it/francesco/">Francesco Palma</a></p>
  </footer>

</body>
</html>